.product__container__image {
    width: 100%;
    height: auto;
}

.product__container__desctiption {
    margin: 16px 0px;
    text-align: left;
}

.product__container__price {
    margin: 16px 0px;
    font-size: 20px;
}

.product__container__rating {
    margin: 16px 0px;
}


.product__container__add-to-cart {
    margin: 16px 0px;
}

.product-addtocart-button {
    padding: 8px;
}

.product-item__countcontainer {
    display: inline-block;
    justify-content: space-between;
}

.product__cartcount {
    height: 30px;
    width: 20px;
    margin: 0px 8px;
    text-align: center;
}